<!DOCTYPE html>
<html lang="en">

<head>
  <title>Treningsapp X3</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
  <style media="screen">
    .col-lg-6 {
      text-align: center;
    }
  </style>
  <div class="container">
    <div class="header">
      <h3 class="text-muted">Treningsapp X3</h3>
    </div>

    <hr style="border-bottom:4px solid grey;">
    <h4 class="text-muted" style="width: 100%; text-align: center;">Opprette ting</h4>
    <div class="row marketing">
      <div class="col-lg-6">
        <a href="/apparat">
          <h4>Apparat</h4>
        </a>
        <a href="/ovelse">
          <h4>Øvelse</h4>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="/treningsokt">
          <h4>Treningsøkt</h4>
        </a>
        <a href="/ovelsesgruppe">
          <h4>Øvelsesgruppe</h4>
        </a>
      </div>
    </div>

    <hr style="border-bottom:4px solid grey;">
    <h4 class="text-muted" style="width: 100%; text-align: center;">Vise ting</h4>
    <div class="row marketing">
      <div class="col-lg-6">
        <a href="/info">
          <h4>Info tidligere øvelser</h4>
        </a>
        <a href="/resultat/friovelse">
          <h4>Resultatlogg - Friøvelse</h4>
        </a>
        <a href="/resultat/apparatovelse">
          <h4>Resultatlogg - Apparatøvelse</h4>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="/utforelser">
          <h4>Utførelser for økt</h4>
        </a>
        <a href="/viseovelsesgruppe">
          <h4>Vise øvelsesgruppe</h4>
        </a>
      </div>
    </div>

  </div>
</body>

</html>