<!DOCTYPE html>
<html lang="en">

<head>
  <title>Treningsapp X3</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
  <style media="screen">
    .col-lg-6 {
      text-align: center;
    }
    .økt {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      border-radius: 12px;
    }
  </style>
  <div class="container">
    <div class="header">
      <a href="/" class="nav_icon"><i class="material-icons">chevron_left</i></a>
      <h3 class="text-muted">Info om n sitste økter</h3>
    </div>

    <hr style="border-bottom:4px solid grey;">
    <div class="row marketing">
      <form action="/info" method="post">
        <div class="form-group">
          <label for="antall">Antall økter som skal vises:</label>
          <!-- TODO: Kan hende man må fjerne value attributt fra inputen under -->
          <input type="number" class="form-control" id="antall" min="1" max="10" value="1" name="info_antall">
        </div>
        <div class="button">
          <button class="btn btn-primary" type="submit">Hent treningsøkter</button>
        </div>
      </form>
    </div>

    <hr style="border-bottom:4px solid grey;">
  </div>

  {% if treningsokter %}
  <h4 class="text-muted" style="width: 100%; text-align: center;">Resultat:</h4>
  {% for øktid, øktøvelser in treningsokter %}
  <div class="container økt">
    <div class="header">
      <h5 class="text-muted">Økt:</h5>
      <p>{{øktøvelser.0.dato}} @ {{øktøvelser.0.tidspunkt}}</p>
      <h5 class="text-muted">Notat:</h5>
      <p>{{øktøvelser[0].formål}}</p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Øvelsestype</th>
          <th scope="col">Øvelsesnavn</th>
          <th scope="col">Prestasjon</th>
          <th scope="col">Sett</th>
          <th scope="col">Repetisjonstype</th>
          <th scope="col">Repetisjoner</th>
          <th scope="col">Kilo</th>
        </tr>
      </thead>
      <tbody>
        {% for øvelse in øktøvelser %}
        <tr>
          <th scope="row">{{øvelse.øvelsestype}}</th>
          <td>{{øvelse.navn}}</td>
          <td>{{øvelse.prestasjon}}</td>
          <td>{{øvelse.sett}}</td>
          <td>{{øvelse.repetisjonstype}}</td>
          <td>{{øvelse.repetisjoner}}</td>
          <td>{{øvelse.repetisjoner}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
{% endif %}

</body>

</html>
