<!DOCTYPE html>
<html lang="en">

<head>
  <title>Treningsapp X3</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style media="screen">
    input {
      display: block;
    }

    textarea {
      display: block;
    }

    .container {
      padding: 0 !important;
    }

    .row {
      padding: 0 16px;
    }

    .nav_icon {
      position: absolute;
      transform: translate3d(-30px, 8px, 0);
    }
  </style>

</head>

<body>
  <div class="container">
    <div class="header">
      <a href="/ovelse" class="nav_icon"><i class="material-icons">chevron_left</i></a>
      <h3 class="text-muted">Registrer friøvelse</h3>
    </div>

    <hr style="border-bottom:4px solid grey;">
    <div class="row marketing">
      <form action="/ovelse/fri" method="post">
        <div class="form-group">
          <label for="navn">Øvelsesnavn:</label>
          <input type="text" class="form-control" id="navn" name="ovelse_navn">
        </div>
        <div class="form-group">
          <label for="reptype">Velg repetisjonstype for øvelsen:</label>
          <select class="form-control" id="reptype" name="ovelse_repetisjonstype" required>
            <option value="antall" selected>Antall</option>
            <option value="sekund">Sekunder</option>
          </select>
        </div>
        <div class="form-group">
          <label for="beskrivelse">Beskrivelse:</label>
          <textarea id="beskrivelse" class="form-control" name="ovelse_beskrivelse"></textarea>
        </div>
        <div class="button">
          <button class="btn btn-primary" type="submit">Lagre øvelse</button>
        </div>
      </form>
    </div>

  </div>
</body>

</html>
