<!DOCTYPE html>
<html lang="en">

<head>
  <title>Treningsapp X3</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style media="screen">
    input {
      display: block;
    }

    textarea {
      display: block;
    }

    .container {
      padding: 0 !important;
    }

    .row {
      padding: 0 16px;
    }

    .nav_icon {
      position: absolute;
      transform: translate3d(-30px, 8px, 0);
    }
  </style>

</head>

<body>
  <div class="container">
    <div class="header">
      <a href="/ovelsesgruppe" class="nav_icon"><i class="material-icons">chevron_left</i></a>
      <h3 class="text-muted">Legg til øvelser i øvelsesgruppe</h3>
    </div>

    <hr style="border-bottom:4px solid grey;">
    <div class="row marketing">
      <div class="col-lg-6">
        <h5 class="text-muted">For apparatøvelser:</h5>
        <form action="/ovelsesgruppe/registrere" method="post">
          <input type="text" name="ovelsesgruppe_type" hidden value="apparatovelse">
          <div class="form-group">
            <label for="gruppe">Velg øvelsesgruppe:</label>
            <select class="form-control" id="gruppe" name="ovelsesgruppe_øvelsesGruppeID" >
              {% for gruppe in grupper %}
              <option value="{{gruppe.ID}}">{{gruppe.Navn}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="ovelseapparat">Velg apparatøvelse:</label>
            <select class="form-control" id="ovelseapparat" name="ovelsesgruppe_øvelseID" >
              {% for øvelse in apparatovelser %}
              <option value="{{øvelse.ID}}">{{øvelse.navn}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="button">
            <button class="btn btn-primary" type="submit">Legg til øvelse</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row marketing">
      <div class="col-lg-6">
        <hr style="border-bottom:4px solid grey; width: 300px; margin-left: 0;">
        <h5 class="text-muted">For friøvelser:</h5>
        <form action="/ovelsesgruppe/registrere" method="post">
          <input type="text" name="ovelsesgruppe_type" hidden value="friovelse">

          <div class="form-group">
            <label for="gruppe">Velg øvelsesgruppe:</label>
            <select class="form-control" id="gruppe" name="ovelsesgruppe_øvelsesGruppeID" >
              {% for gruppe in grupper %}
              <option value="{{gruppe.ID}}">{{gruppe.Navn}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="gruppe">Velg Friøvelse:</label>
            <select class="form-control" id="apparatøvelser" name="ovelsesgruppe_øvelseID">
              {% for øvelse in friovelser %}
              <option value="{{øvelse.ID}}">{{øvelse.navn}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="button">
            <button class="btn btn-primary" type="submit">Legg til øvelse</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
