<!DOCTYPE html>
<html lang="en">

<head>
  <title>Treningsapp X3</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style media="screen">
    input {
      display: block;
    }

    textarea {
      display: block;
    }

    .container {
      padding: 0 !important;
    }

    .row {
      padding: 0 16px;
    }

    .nav_icon {
      position: absolute;
      transform: translate3d(-30px, 8px, 0);
    }

    .økt {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      border-radius: 12px;
    }
  </style>

</head>

<body>
  <div class="container">
    <div class="header">
      <a href="/" class="nav_icon"><i class="material-icons">chevron_left</i></a>
      <h3 class="text-muted">Øvelsesgrupper</h3>
    </div>

    <hr style="border-bottom:4px solid grey;">
    <div class="row marketing">
      <a href="/ovelsesgruppe/registrere">
        <h4>Knytt øvelser til eksisterende øvelsesgruppe</h4>
      </a>
    </div>

    <hr style="border-bottom:4px solid grey;">
    <div class="row marketing">
      <form action="/ovelsesgruppe" method="post">
        <div class="form-group">
          <label for="navn">Navn:</label>
          <input type="text" class="form-control" id="navn" name="ovelsesgruppe_navn">
        </div>
        <div class="button">
          <button class="btn btn-primary" type="submit">Opprett øvelsesgruppe</button>
        </div>
      </form>
    </div>
    <hr style="border-bottom:4px solid grey;">
  </div>
</body>

</html>
