<!DOCTYPE html>
<html lang="en">

<head>
  <title>Python Flask Workout App</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style media="screen">
    .col-lg-6 {
      text-align: center;
    }

    .nav_icon {
      position: absolute;
      transform: translate3d(-30px, 8px, 0);
    }
  </style>

</head>

<body>
  <div class="container">
    <div class="header">
      <a href="/" class="nav_icon"><i class="material-icons">chevron_left</i></a>
      <h3 class="text-muted">Velg øvelsestype</h3>
    </div>

    <hr style="border-bottom:4px solid grey;">
    <div class="row marketing">
      <div class="col-lg-6">

        <a href="/ovelse/apparat">
          <h4>Apparatøvelse</h4>
        </a>
        <a href="/ovelse/fri">
          <h4>Friøvelse</h4>
        </a>
      </div>
    </div>
  </div>
</body>

</html>
