<!DOCTYPE html>
<html lang="en">

<head>
  <title>Treningsapp X3</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style media="screen">
    input {
      display: block;
    }

    textarea {
      display: block;
    }

    .container {
      padding: 0 !important;
    }

    .row {
      padding: 0 16px;
    }

    .nav_icon {
      position: absolute;
      transform: translate3d(-30px, 8px, 0);
    }
  </style>

</head>

<body>
  <div class="container">
    <div class="header">
      <a href="/" class="nav_icon"><i class="material-icons">chevron_left</i></a>
      <h3 class="text-muted">Resultatlogg apparatøvelser</h3>
    </div>

    <hr style="border-bottom:4px solid grey;">
    <div class="row marketing">
      <form action="/resultat/apparatovelse" method="post">
        <div class="form-group">
          <label for="startdato">Startdato:</label>
          <input type="date" class="form-control" id="startdato" name="resultat_startdato">
        </div>
        <div class="form-group">
          <label for="sluttdato">Sluttdato:</label>
          <input type="date" class="form-control" id="sluttdato" name="resultat_sluttdato">
        </div>
        <div class="form-group">
          <label for="apparatid">Velg øvelse:</label>
          <select class="form-control" id="øvelseid" name="resultat_id" required>
            {% for øvelse in øvelser%}
            <option value="{{øvelse.ID}}">{{øvelse.navn}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="button">
          <button class="btn btn-primary" type="submit">Se resultatlogg </button>
        </div>
      </form>
    </div>
    {% if resultat %}
    <br />
    <br />
    <div class="row marketing">
      <h3>{{resultat[0].navn}}</h3>
      <table class="table">

        <thead>
          <tr>
            <th scope="col">Dato</th>
            <th scope="col">Prestasjon</th>
            <th scope="col">Sett</th>
            <th scope="col">Repetisjoner</th>
            <th scope="col">Kilo</th>
          </tr>
        </thead>
        <tbody>
          {% for øvelse in resultat %}
          <tr>
            <td>{{øvelse.dato}}</td>
            <td>{{øvelse.prestasjon}}</td>
            <td>{{øvelse.sett}}</td>
            <td>{{øvelse.repetisjoner}}</td>
            <td>{{øvelse.kilo}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</body>

</html>