<!DOCTYPE html>
<html lang="en">

<head>
  <title>Treningsapp X3</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style media="screen">
    input {
      display: block;
    }

    textarea {
      display: block;
    }

    .container {
      padding: 0 !important;
    }

    .row {
      padding: 0 16px;
    }

    .nav_icon {
      position: absolute;
      transform: translate3d(-30px, 8px, 0);
    }
  </style>

</head>

<body>
  <div class="container">
    <div class="header">
      <a href="/treningsokt" class="nav_icon"><i class="material-icons">chevron_left</i></a>
      <h3 class="text-muted">Registrere øvelser i treningsøkt</h3>
    </div>

    <hr style="border-bottom:4px solid grey;">
    <div class="row marketing">
      <form action="/treningsokt/registrere" method="post">
        <div class="form-group">
          <label for="type">Hva slags øvelsestype er dette? (fyll ut tilhørende felt):</label>
          <select class="form-control" id="type" name="treningsokt_type" required>
            <option value="apparat">Apparatøvelse</option>
            <option value="fri">Friøvelse</option>
          </select>
        </div>
        <div class="form-group">
          <label for="økt">Velg treningsøkt:</label>
          <select class="form-control" id="økt" name="treningsokt" required>
            {% for treningsokt in treningsokter %}
            <option value="{{treningsokt.ID}}">{{treningsokt.dato}} @ kl {{treningsokt.tidspunkt}} </option>
            {% endfor %}
          </select>
        </div>

        <hr style="border-bottom:4px solid grey; width: 300px; margin-left: 0;">
        <h5 class="text-muted">Generelt:</h5>
        <div class="form-group">
          <label for="prestasjon">Prestasjon:</label>
          <input type="number" class="form-control" id="prestasjon" name="treningsokt_prestasjon" required min="1" placeholder="1 to 10">
        </div>
        <div class="form-group">
          <label for="sett">Antall sett:</label>
          <input type="number" class="form-control" id="sett" name="treningsokt_sett" min="1" required>
        </div>
        <div class="form-group">
          <label for="reps">Antall reps:</label>
          <input type="number" class="form-control" id="reps" name="treningsokt_repetisjoner" min="1" required>
        </div>

        <hr style="border-bottom:4px solid grey; width: 300px; margin-left: 0;">
        <h5 class="text-muted">For apparatøvelser:</h5>

        <div class="form-group">
          <label for="apparatøvelse">Velg apparatøvelse:</label>
          <select class="form-control" id="apparatøvelse" name="treningsokt_apparatØvelseID">
            {% for apparatøvelse in apparatøvelser %}
            <option value="{{apparatøvelse.ID}}">{{apparatøvelse.navn}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="kilo">Antall kilo:</label>
          <input type="number" class="form-control" id="kilo" name="treningsokt_kilo" placeholder="1 to 10">
        </div>



        <hr style="border-bottom:4px solid grey; width: 300px; margin-left: 0;">
        <h5 class="text-muted">For friøvelser:</h5>
        <div class="form-group">
          <label for="friøvelse">Velg friøvelse:</label>
          <select class="form-control" id="friøvelse" name="treningsokt_friØvelseID">
            {% for friøvelse in friøvelser %}
            <option value="{{friøvelse.ID}}">{{friøvelse.navn}}, type reps={{friøvelse.repetisjonstype}}</option>
            {% endfor %}
          </select>
        </div>



        <div class="button">
          <button class="btn btn-primary" type="submit">Legg til øvelse</button>
        </div>
      </form>
    </div>

  </div>
</body>

</html>