<!DOCTYPE html>
<html lang="en">

<head>
  <title>Treningsapp X3</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style media="screen">
    input {
      display: block;
    }

    textarea {
      display: block;
    }

    .container {
      padding: 0 !important;
    }

    .row {
      padding: 0 16px;
    }

    .nav_icon {
      position: absolute;
      transform: translate3d(-30px, 8px, 0);
    }
  </style>

</head>

<body>
  <div class="container">
    <div class="header">
      <a href="/" class="nav_icon"><i class="material-icons">chevron_left</i></a>
      <h3 class="text-muted">Registrer treningsøkt</h3>
    </div>

    <hr style="border-bottom:4px solid grey;">
    <div class="row marketing">
      <a href="/treningsokt/registrere">
        <h4>Registrer øvelser for en eksisterende økt</h4>
      </a>
    </div>

    <hr style="border-bottom:4px solid grey;">
    <div class="row marketing">
      <form action="/treningsokt" method="post">
        <div class="form-group">
          <label for="date">Dato:</label>
          <input type="date" class="form-control" id="date" name="treningsokt_dato">
        </div>
        <div class="form-group">
          <label for="time">Tidspunkt:</label>
          <input type="time" class="form-control" id="time" name="treningsokt_tidspunkt">
        </div>
        <div class="form-group">
          <label for="varighet">Varighet (timer):</label>
          <input type="number" class="form-control" id="varighet" name="treningsokt_varighet">
        </div>
        <div class="form-group">
          <label for="personligForm">Rate din personlige form:</label>
          <input type="number" class="form-control" id="personligForm" name="treningsokt_personligForm">
        </div>
        <div class="form-group">
          <label for="senterID">Velg senter økten:</label>
          <select class="form-control" id="senterID" name="treningsokt_senterID" required>
            {% for senter in sentere %}
            <option value="{{senter.ID}}">{{senter.Navn}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="note">Notat:</label>
          <textarea id="note" class="form-control" name="treningsokt_notat"></textarea>
        </div>
        <div class="button">
          <button class="btn btn-primary" type="submit">Lagre treningsøkt</button>
        </div>
      </form>
    </div>

  </div>
</body>

</html>