<!DOCTYPE html>
<html lang="en">

<head>
  <title>Treningsapp X3</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style media="screen">
    input {
      display: block;
    }

    textarea {
      display: block;
    }

    .container {
      padding: 0 !important;
    }

    .row {
      padding: 0 16px;
    }

    .nav_icon {
      position: absolute;
      transform: translate3d(-30px, 8px, 0);
    }
  </style>

</head>

<body>
  <div class="container">
    <div class="header">
      <a href="/" class="nav_icon"><i class="material-icons">chevron_left</i></a>
      <h3 class="text-muted">Liste over utførte øvelser for spesifikk treningsøkt</h3>
    </div>

    <hr style="border-bottom:4px solid grey;">
    <div class="row marketing">
      <form action="/utforelser" method="post">
        <label for="treningsokt">Velg treningsøkt:</label>
        <select class="form-control" id="øvelseid" name="utforelse_id" required>
          {% for økt in treningsøkter%}
          <option value="{{økt.ID}}">{{økt.dato}}</option>
          {% endfor %}
        </select>
        <div class="button">
          <br />
          <button class="btn btn-primary" type="submit">Se øvelser utført</button>
        </div>
      </form>
    </div>
    {% if resultat %}
    <br />
    <br />
    <div class="row marketing">
      <h3>{{resultat[0].navn}}</h3>
      <table class="table">

        <thead>
          <tr>
            <th scope="col">Navn</th>
            <th scope="col">Prestasjon</th>
            <th scope="col">Sett</th>
            <th scope="col">Repetisjoner</th>
          </tr>
        </thead>
        <tbody>
          {% for øvelse in resultat %}
          <tr>
            <td>{{øvelse.Navn}}</td>
            <td>{{øvelse.prestasjon}}</td>
            <td>{{øvelse.sett}}</td>
            <td>{{øvelse.repetisjoner}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</body>

</html>